body {
    font-family: 'Baloo Bhai',cursive;
    color: white;
    margin: 0px;
    padding: 1px;
    background-image: url('calc.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.84);
    align-items: center;
    position: fixed;
    width: 100%;
}


.left {
    /* display: inline-block; */
    /* border: 2px solid red; */
    /* position: absolute; */
    /* left:15px; */
    /* top: 36px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 20px;
}

.left div {
    line-height:19px;
    font-size: 25px;
    text-align: center;
    /* margin-top: 9px; */
    margin-left: 11px;
    
}
.imgg:hover{
    transform: scale(1.1);
}

.mid {
    display: block;
    width: 50%;
    margin: 24px auto;
    font-size: 10px;
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
    /* border: 2px solid yellow; */
}
.right button a{
    color: white;
    text-decoration: none;
    padding: 2;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;

}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;

}

.btn {
    font-family: 'Baloo Bhai',cursive;
    margin: 0px 9px;
    background-color: rgb(37, 35, 35);
    color: white;
    padding: 2px 10px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(27, 26, 26, 0.808);
}
.bmr-calculator{
    background-color: rgba(0, 0, 0, 0.548);
    max-width: 300px;
    padding: 8px 24px;
    box-shadow: 0 4px 8px -3px rgba(0,0,0,0.3);
    /* background: red; */
    margin:auto;
    margin-top: 120px;
    margin-bottom: 15px;
    border: 2px solid rgba(44, 41, 41, 0.726) ;
}
.bmr-calculator,
.bmr-calculator *{
    box-sizing: border-box;
}
.bmr-calculator h2{
    text-align: center;
    background: #222;
    color: white;
    font-weight: 100;
    margin: -8px --24px;
    margin-bottom: 8px;
    padding: 16px;
}
.bmr-calculator form h3{
    font-size: 15px;
    text-transform: uppercase;
    margin: 16px 0 10px 0;
}
.bmr-calculator form input[type="text"] {
    width: 100%;
    padding: 4px 16px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #d5dbdd;
}
.bmr-calculator form{
    display: flex;
    flex-direction: column;
    gap: 4px;

}
.bmr-calculator form #female{
    margin-left: 20px;
}
.bmr-calculator form .height,
.bmr-calculator form .weight{
    position:relative;
}
.bmr-calculator form .unit{
    position: absolute;
    right: 20px;
    top: 50px;
    color: #777;
}
.bmr-calculator .result .calculate-btn{
    padding: 8px 24px;
    margin: 16px 0;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-bottom: 32px;
}
.bmr-calculator .result{
    text-align: center;
    color: white;
    font-size: 18px;
}
.bmr-calculator .result .calories{
    color: green;
    font-size: 38px;
    font-weight: 900;
    margin-right: 8px;
    vertical-align: middle;
}
/**footer**/
.foot-nav{
    /* color: white; */
    width: 100%;
    height: 80px;
    background-color: rgb(30, 29, 29);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.foot-nav p{
    font-size: 25px;
    padding-left: 10px;
}
.tag{
    padding-right:  70px;
}
.link a{
    font-size: 20px;
    color: white;
}

.foot-nav2{
    background-color: rgb(40, 39, 39);
    /* border: 2px solid red; */
    display: flex;
    height: 210px;
    justify-content: space-between;
}
.card2 p{
    padding: 1px;
    text-decoration: underline;
}
.foot-nav3{
    background-color: rgb(60, 57, 57);
    display: flex;
    justify-content: space-between;
    
}
.card3{
    display: flex;
    align-items: center;
    font-size: 11px;
}


